body {
  margin: 0;
  padding: 0;
  background: url("./components/Pages/AuthPages/images/bg1.jpg") no-repeat
    center center/cover;
  background-attachment: fixed;
  overflow-x: hidden;
  padding-bottom: calc(6rem + 6vh);
}

.Navbar {
  border: transparent;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  opacity: 0.75;
  color: gainsboro;
  text-decoration: none;
}

Button {
  text-decoration: none;
}

Button:hover {
  text-decoration: none;
}
